body {
  letter-spacing: normal; }

#video-background {
  background-image: url(../videos/1-shibuya.jpg);
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden; }
  #video-background .filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }

#navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  font-size: 1.2em;
  letter-spacing: +0.04em;
  font-weight: bolder; }

.carousel .teaser {
  width: 100%;
  height: 300px;
  text-align: center; }
  .carousel .teaser h2 {
    font-size: 4em;
    font-weight: bold;
    word-break: break-all;
    text-shadow: -2px -1px 0 #000, -4px -2px 0 #000, -6px -3px 0 #000, -8px -4px 0 #000, -9px -4px 0 #fff; }
    .carousel .teaser h2 span {
      display: block;
      font-size: 2em;
      color: #C0B8FF; }
  .carousel .teaser h4 {
    font-size: 2em;
    font-weight: normal;
    margin: 20px 0; }

#call-to-action .btn-primary {
  font-size: 2rem;
  padding: 1.25rem 4rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  font-weight: normal; }

#call-to-action p {
  font-size: 1.2em; }

@media (min-width: 576px) {
  #industry-quote .pull-quote > img {
    width: 200px;
    height: 200px; } }

#conference-agenda {
  background-image: url(../img/agenda-bg.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover; }
  #conference-agenda .text-ribbon-warning {
    color: #333; }
  #conference-agenda p {
    font-size: 1.4em; }
  #conference-agenda a {
    color: inherit; }
