#site-header .block-background {
  background-image: url(../videos/1-shibuya.jpg);
  background-size: cover;
  background-position: 50% 50%; }

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%; }
  .video-background .filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%; }

#navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
