body {
  letter-spacing: normal; }

body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.btn, p, a {
  font-weight: normal; }

.btn-primary {
  color: #fff !important; }

#site-header .block-foreground {
  width: 100%; }

#site-header .block-title {
  font-size: 2.4em;
  margin: 40px 0; }
  @media (min-width: 576px) {
    #site-header .block-title {
      margin: 20px 0;
      font-size: 3em; } }
  @media (min-width: 768px) {
    #site-header .block-title {
      font-size: 3.8em; } }
  @media (min-width: 1200px) {
    #site-header .block-title {
      font-size: 4.2em;
      margin: 60px 0; } }

#site-header .navbar-brand {
  margin-right: 0 !important;
  text-align: center; }
  @media (min-width: 768px) {
    #site-header .navbar-brand {
      margin-right: auto !important;
      text-align: left; } }

#video-background {
  background-image: url(../videos/1-shibuya.jpg);
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden; }
  #video-background .filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }

#navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  font-size: 1.2em;
  letter-spacing: +0.04em;
  font-weight: bolder; }

.carousel .teaser {
  width: 100%;
  height: 260px;
  text-align: center; }
  .carousel .teaser h2 {
    font-size: 3em;
    font-weight: bold;
    word-break: break-all;
    text-shadow: -2px -1px 0 #000, -4px -2px 0 #000, -6px -3px 0 #000, -8px -4px 0 #000, -9px -4px 0 #fff; }
    .carousel .teaser h2 span {
      display: block;
      font-size: 2em;
      color: #C0B8FF; }
  .carousel .teaser h4 {
    font-size: 1.6em;
    margin: 20px 0; }
  @media (min-width: 768px) {
    .carousel .teaser {
      height: 300px; }
      .carousel .teaser h2 {
        font-size: 3.6em; }
      .carousel .teaser h4 {
        font-size: 2em; } }

.real-big-button {
  font-size: 2rem;
  padding: 1.25rem 4rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem; }

#call-to-action p {
  font-size: 1.2em; }

@media (min-width: 576px) {
  #industry-quote .pull-quote > img {
    width: 200px;
    height: 200px; } }

.ttc-block {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  text-rendering: optimizeLegibility;
  border-bottom: 3px solid #C0B8FF; }
  .ttc-block p {
    font-size: 1.4em;
    text-align: justify; }
  .ttc-block a {
    color: inherit; }
  .ttc-block h1, .ttc-block h2, .ttc-block h3, .ttc-block h4, .ttc-block p, .ttc-block a {
    font-weight: normal; }

#conference-agenda {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/bg/agenda.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/agenda.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/agenda.jpg); }

#pitch-competition {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/bg/pitch-competition.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/pitch-competition.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/pitch-competition.jpg);
  background-attachment: fixed; }

#pitch-competition-links .btn {
  margin-bottom: 20px; }

#pitch-competition-links .link {
  display: inline-block;
  margin: 10px 0;
  font-size: 1.5em;
  text-decoration: underline; }

#workshops {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/bg/workshops.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/workshops.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/workshops.jpg);
  background-attachment: fixed; }

#conference-day {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../img/bg/conference-day.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/conference-day.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg/conference-day.jpg);
  background-attachment: fixed; }

.presenters .headshot {
  width: 250px;
  height: 250px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 10px solid #C0B8FF;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

.company img {
  max-width: 250px;
  max-height: 200px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.social {
  font-size: 2em; }
  .social a {
    text-decoration: none; }

#attendees li {
  margin: 20px; }

#attendees img {
  max-width: 200px;
  max-height: 50px; }
