---
layout: default
title: Travel Tech Con 2017
one_liner: The conference for travel&nbsp;startups and&nbsp;developers.
tickets_link: Register
tickets_caption: Startup Tickets From $150
endorsement_quote: If you are in the industry and want to understand true innovation, I encourage you to attend Travel Tech Con.
endorsement_author: Norm Rose, Travel Tech Consulting
navigation:
  - title: Pitch Competition
    slug: pitch-competition
  - title: Workshops
    slug: workshops
  - title: Conference Day
    slug: conference-day
teasers:
  - number: 3
    what: days
    caption: May 22-24, 2017 in San Francisco, California
  - number: 28
    what: talks
    caption: 10 Workshops, 1 Pitch Competition
  - number: 2
    what: tracks
    caption: Startup Track + Developer Track
  - number: 450
    what: attendees
    caption: 50% Travel Startups
  - number: 1
    what: Afteparty
    caption: DJ Justin Paul
schedule:
  - date: May 22
    event: Pitch Competition
    venue: 500 Startups
    address: 814 Mission Street, 6th Floor
    map_url: https://goo.gl/maps/DszBuskr2oy
    target: 500startups
    style: success
    registration: 12 pm
  - date: May 23
    event: Workshops
    venue: 500 Startups
    address: 814 Mission Street, 6th Floor
    map_url: https://goo.gl/maps/DszBuskr2oy
    target: 500startups
    style: info
    registration: 8 am
  - date: May 24
    event: Conference Day
    venue: HOME on Treasure Island
    address: 401 13th St
    map_url: https://goo.gl/maps/HNEADWELAG62
    target: homeonti
    style: primary
    registration: 8 am
judges:
  - name: Mike Coletta
    company: Phocuswright
    url: http://www.phocuswright.com/
    logo: pcw.jpg
    headshot: mike-coletta
    prize: Ticket to Phocuswright Battleground
  - name: Bonny Simi
    company: JetBlue Technology Ventures
    url: http://www.jetblueventures.com/
    logo: jtv.jpg
    headshot: bonny-simi
    prize: Mentoring Session
  - name: Norm Rose
    company: Travel Tech Consulting
    url: http://traveltechconsulting.com
    logo: ttconsulting
    headshot: norm-rose
    prize: Mentoring Session
  - name: Gadi Bashvitz
    company: Deem
    url: http://deem.com
    logo: deem.jpg
    headshot: gadi-bashvitz
    prize: Mentoring Session
  - name: Rom Hendler
    company: Innovel
    url: http://innovel.vc/
    logo: innovel.jpg
    headshot: rom-hendler
    prize: Mentoring Session
  - name: Nathan Bobbin
    company: Travelport Labs
    url: https://www.travelport.com/labs
    logo: travelportlabs
    headshot: nathan-bobbin
    prize: Mentoring Session
workshop_presenters:
  startup_track:
    - name: William Niejadlik
      company: Niejadlik Consulting
      headshot: william-niejadlik
    - name: Dave Rubin
      company: Greystone Hotels and Hospitality
      headshot: dave-rubin
    - name: Christina Heggie
      company: JetBlue Technology Ventures
      headshot: christina-heggie
  developer_track:
speakers:
  keynote:
    - name: Maksim Izmaylov
      company: Travel Tech Con
      headshot: maksim-izmaylov
    - name: Gillian Morris
      company: Hitlist
      headshot: gillian-morris
    - name: Adam Goldstein
      company: Hipmunk
      headshot: adam-goldstein
    - name: Sarah Kennedy
      company: Sabre
      headshot: sarah-kennedy
    - name: Tahnee Perry
      company: Deem
      headshot: tahnee-perry
  startup_track:
    - name: Norm Rose
      company: Travel Tech Consulting
      headshot: norm-rose
    - name: Emre Mangir
      company: Mozio
      headshot: emre-mangir
    - name: Jessica Coane
      company: PEX+
      headshot: jessica-coane
    - name: Alex Sumin
      company: Claim Compass
      headshot: alex-sumin
    - name: Eric Wiesen
      company: Bullpen Capital
      headshot: eric-wiesen
    - name: Christopher Hemmeter
      company: Thayer Ventures
      headshot: christopher-hemmeter
  developer_track:
    - name: David Low
      company: Skyscanner
      headshot: david-low
    - name: Christine Kim
      company: Uber
      headshot: christine-kim
    - name: Matt Hubert
      company: Bitmatica
      headshot: matt-hubert
    - name: Nicolas Berger
      company: Roomstorm
      headshot: nicolas-berger
---

<div class="stage" id="stage">

  <div class="block block-inverse block-fill-height" id="site-header">

    {% include desktop-navbar.html %}

    <div class="block-foreground">
      <div class="row my-5 mx-2 justify-content-center">
        <div class="col-md-10">
          <h1 class="block-title text-center">{{ page.one_liner }}</h1>

          <div id="teaser-carousel" class="carousel carousel-light slide py-2" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for t in page.teasers %}
                <li data-target="#teaser-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %} class="active"{% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for t in page.teasers %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <div class="teaser">
                    <h2><span>{{ t.number }}</span> {{ t.what }}</h2>
                    <h4>{{ t.caption }}</h4>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="text-center py-4" id="call-to-action">
            <a href="https://www.eventbrite.com/e/travel-tech-con-2017-tickets-30070691247" class="btn btn-primary btn-lg real-big-button" target="ttc17-tickets">{{ page.tickets_link }}</a>
            <p>{{ page.tickets_caption }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block-background" id="video-background">
      <div class="filter"></div>
      <video autoplay loop>
        <source src="videos/1-shibuya.mp4" type="video/mp4">
        <source src="videos/1-shibuya.webm" type="video/webm">
      </video>
    </div>
  </div>

  <div class="block block-secondary" id="industry-quote">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="img/presenters/norm-rose.jpg">
      <p>
        “{{ page.endorsement_quote }}”
      </p>
      <cite>{{ page.endorsement_author }}</cite>
    </blockquote>
  </div>

  <div class="block block-secondary block-inverse px-5 ttc-block" id="conference-agenda">
    <div class="row py-1">
      {% for d in page.schedule %}
        <div class="col-sm-4 py-3">
          <h2 class="mt-5">
            <strong class="text-ribbon text-ribbon-{{ d.style }}">
              <span>{{ d.date }}: {{ d.event }}</span>
            </strong>
          </h2>
          <p class="mt-4">
            <span class="text-ribbon text-ribbon-{{ d.style }}">
              <span>
                <a href="{{ d.map_url }}" target="{{ d.target }}">
                  {{ d.venue }}<br>
                  {{ d.address }}
                </a>
              </span>
            </span>
          </p>
          <p class="mt-4">
            <span class="text-ribbon text-ribbon-{{ d.style }}">
              <span>
                Registration: {{ d.registration }}
              </span>
            </span>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Pitch Competition -->
  <div class="block block-secondary block-inverse text-center px-5 ttc-block" id="pitch-competition">
    <div class="py-4">
      <h1 class="block-title"><span class="icon icon-trophy"></span><br>{{ page.schedule[0].event }}</h1>
      <h3>{{ page.schedule[0].date }}</h3>
      <h4><a href="{{ page.schedule[0].map_url }}" target="{{ page.schedule[0].target }}">
        <span class="icon icon-map"></span>
        {{ page.schedule[0].venue }}
        {{ page.schedule[0].address }}
      </a></h4>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <h2>20 Best Travel Startups</h2>
        <h2>Early-Stage and VC-Backed</h2>
        <p class="my-4">At Travel Tech Con Pitch competition 20 best travel startups, divided into two cohorts (early-stage and VC-backed), will pitch in front of a panel of esteemed industry experts in order to win valuable prizes, such as free ticket to <a href="http://www.phocuswrightconference.com/Compete/Battleground">Phocuswright Battleground</a> (worth $4,199), and other great prizes.</p>
      </div>
    </div>

    <div class="my-4">
      <h1>Judges</h1>

      <div class="container-fluid">
        <div class="row my-4 presenters">
          {% for judge in page.judges %}
            <a href="#" class="col-md-6 col-lg-4 my-4">
              <img src="img/presenters/{{ judge.headshot }}.jpg" alt="">
              <h3>{{ judge.name }}</h3>
              <img src="{{ judge.url }}" alt="{{ judge.company }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="my-4" id="winners-2016">
      <h1>2016 Winners</h1>

      <div class="container-fluid">
        <div class="row my-4 justify-content-center">
          <div class="col-md-10">
            <p class="text-center">We can help you get noticed, just like we helped <a href="https://www.traveltechcon.com/news/2016/11/20/congratulations-beyondpricing-and-hello-scout" style="text-decoration: underline;" target="ttc-success">our winners from 2016</a>.</p>
          </div>

          <a href="https://beyondpricing.com/" class="col-md-4 my-4">
            <img src="img/beyond-pricing.jpg" alt="Beyond Pricing">
          </a>
          <a href="http://helloscout.com/" class="col-md-4 my-4">
            <img src="img/hello-scout.jpg" alt="Hello Scout">
          </a>
        </div>
      </div>
    </div>

    <div class="text-center" id="pitch-competition-links">
      <a href="https://www.f6s.com/traveltechcon/" class="btn btn-primary btn-lg real-big-button" target="pitch-competition">Apply to Pitch</a>
      <br>
      <a class="link" target="_blank" href="https://www.traveltechcon.com/news/2016/11/20/congratulations-beyondpricing-and-hello-scout">2016 Success Stories</a>
      <br>
      <a class="link" target="_blank" href="http://www.traveltechcon.com/startup-pitch-competition">2016 Pitch Competition Details</a>
    </div>
  </div>

  <!-- Workshops -->
  <div class="block block-secondary block-inverse text-center px-5 ttc-block" id="workshops">
    <div class="py-4">
      <h1 class="block-title"><span class="icon icon-cog"></span><br>{{ page.schedule[1].event }}</h1>
      <h3>{{ page.schedule[1].date }}</h3>
      <h4><a href="{{ page.schedule[1].map_url }}" target="{{ page.schedule[1].target }}">
        <span class="icon icon-map"></span>
        {{ page.schedule[1].venue }}
        {{ page.schedule[1].address }}
      </a></h4>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <h2>10 Workshops</h2>
        <h2>Startup Track + Developer Track</h2>
        <div class="my-4">
          <p class="text-center">Workshop is a 1.5-hour long interactive session with the speaker. You have a unique opportunity to learn from the industry experts and connect with them.</p>
          <p class="text-center">Each track is limited to maximum 30 attendees.</p>
        </div>
      </div>
    </div>

    <div class="my-4">
      <h1>Presenters</h1>

      <div class="container-fluid">
        <div class="row my-4 presenters">
          {% for presenter in page.workshop_presenters.startup_track %}
            <a href="#" class="col-md-6 col-lg-4 my-4">
              <img src="img/presenters/{{ presenter.headshot }}.jpg" alt="">
              <h3>{{ presenter.name }}</h3>
              <img src="{{ presenter.url }}" alt="{{ presenter.company }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <a href="https://www.eventbrite.com/e/travel-tech-con-2017-tickets-30070691247" class="btn btn-primary btn-lg real-big-button" target="ttc17-tickets">{{ page.tickets_link }}</a>
    <br>
    <a href="https://ttc17.typeform.com/to/u1aRbz" class="btn btn-info my-4" target="propose-talk">Propose a Workshop</a>
  </div>

  <!-- Conference Day -->
  <div class="block block-secondary block-inverse text-center px-5 ttc-block" id="conference-day">
    <div class="py-4">
      <h1 class="block-title"><span class="icon icon-cog"></span><br>{{ page.schedule[2].event }}</h1>
      <h3>{{ page.schedule[2].date }}</h3>
      <h4><a href="{{ page.schedule[2].map_url }}" target="{{ page.schedule[2].target }}">
        <span class="icon icon-map"></span>
        {{ page.schedule[2].venue }}
        {{ page.schedule[2].address }}
      </a></h4>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <h2>20 Top Industry Speakers</h2>
        <h2>Startup Track + Developer Track</h2>
        <h2>Exhibition Space</h2>
        <h2>Afterparty With DJ Justin Paul</h2>
        <div class="my-4">
          <p class="text-center">The main conference day is where it's at. Connect with 400 attendees from top travel industry companies and startups, learn from business and technology experts, talk about real problems and how to solve them.</p>
        </div>
      </div>
    </div>

    <div class="my-4">
      <h1>Keynote Speakers</h1>

      <div class="container-fluid">
        <div class="row my-4 presenters">
          {% for presenter in page.speakers.keynote %}
            <a href="#" class="col-md-6 col-lg-4 my-4">
              <img src="img/presenters/{{ presenter.headshot }}.jpg" alt="">
              <h3>{{ presenter.name }}</h3>
              <img src="{{ presenter.url }}" alt="{{ presenter.company }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="my-4">
      <h1>Startup Track</h1>

      <div class="container-fluid">
        <div class="row my-4 presenters">
          {% for presenter in page.speakers.startup_track %}
            <a href="#" class="col-md-6 col-lg-4 my-4">
              <img src="img/presenters/{{ presenter.headshot }}.jpg" alt="">
              <h3>{{ presenter.name }}</h3>
              <img src="{{ presenter.url }}" alt="{{ presenter.company }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="my-4">
      <h1>Developer Track</h1>

      <div class="container-fluid">
        <div class="row my-4 presenters">
          {% for presenter in page.speakers.developer_track %}
            <a href="#" class="col-md-6 col-lg-4 my-4">
              <img src="img/presenters/{{ presenter.headshot }}.jpg" alt="">
              <h3>{{ presenter.name }}</h3>
              <img src="{{ presenter.url }}" alt="{{ presenter.company }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <a href="https://www.eventbrite.com/e/travel-tech-con-2017-tickets-30070691247" class="btn btn-primary btn-lg real-big-button" target="ttc17-tickets">{{ page.tickets_link }}</a>
    <br>
    <a href="https://ttc17.typeform.com/to/u1aRbz" class="btn btn-primary my-4" target="propose-talk">Propose a Talk</a>
  </div>

  <div class="block block-secondary">
    <h1 class="block-title">Sponsors</h1>
  </div>

  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-md-4">
        <ul class="featured-list featured-list-bordered">
          <li class="mb-5">
            <div class="featured-list-icon">
              <span class="icon icon-dropbox"></span>
            </div>

            <h3>Save things</h3>
            <p>
              Use dropbox to save things in the "cloud" because throwing things away is stressful and this way you don't have to.
            </p>
          </li>

          <li>
            <div class="featured-list-icon">
              <span class="icon icon-github"></span>
            </div>
            <h3>Fork things</h3>
            <p>
              Use github to share things on the internet then change them. Make things better. Free software? But not as in beer.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="featured-list featured-list-bordered">
          <li class="mb-5">
            <div class="featured-list-icon">
              <span class="icon icon-medium"></span>
            </div>

            <h3>Write things</h3>
            <p>
              Use Medium to write things down and sound smart. Also when you write, your writings looks pretty and that is cool.
            </p>
          </li>

          <li>
            <div class="featured-list-icon">
              <span class="icon icon-twitter"></span>
            </div>
            <h3>Tweet things</h3>
            <p>
              Use twitter to share 140 characters worth of anything you want. Pictures, videos, etc. It doesn't really matter.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="featured-list featured-list-bordered">
          <li class="mb-5">
            <div class="featured-list-icon">
              <span class="icon icon-medium"></span>
            </div>

            <h3>Write things</h3>
            <p>
              Use Medium to write things down and sound smart. Also when you write, your writings looks pretty and that is cool.
            </p>
          </li>

          <li>
            <div class="featured-list-icon">
              <span class="icon icon-twitter"></span>
            </div>
            <h3>Tweet things</h3>
            <p>
              Use twitter to share 140 characters worth of anything you want. Pictures, videos, etc. It doesn't really matter.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="block block-inverse app-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">About</h6></li>
            <li class="text-muted">
              We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">themes@getbootstrap.com</a>.
            </li>
          </ul>
        </div>
        <div class="col-md-2 offset-md-1 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">Product</h6></li>
            <li class="text-muted">Features</li>
            <li class="text-muted">Examples</li>
            <li class="text-muted">Tour</li>
            <li class="text-muted">Gallery</li>
          </ul>
        </div>
        <div class="col-md-2 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">Apis</h6></li>
            <li class="text-muted">Rich data</li>
            <li class="text-muted">Simple data</li>
            <li class="text-muted">Real time</li>
            <li class="text-muted">Social</li>
          </ul>
        </div>
        <div class="col-md-2 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">Legal</h6></li>
            <li class="text-muted">Terms</li>
            <li class="text-muted">Legal</li>
            <li class="text-muted">Privacy</li>
            <li class="text-muted">License</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
