---
layout: default
title: Travel Tech Con 2017
one_liner: The conference for travel&nbsp;startups and&nbsp;developers.
tickets_link: Register
tickets_caption: Startup Tickets From $150
endorsement_quote: If you are in the industry and want to understand true innovation, I encourage you to attend Travel Tech Con.
endorsement_author: Norm Rose, Travel Tech Consulting
hoverboard: This is a hoverboard. Welcome to the future!
navigation:
  - title: TTC
    url: http://traveltechcon.com/ttc-home
  - title: Agenda
    slug: conference-agenda
  - title: Pitch Competition
    slug: pitch-competition
  - title: Workshops
    slug: workshops
  - title: Conference Day
    slug: conference-day
---

<div class="stage" id="stage">

  <div class="block block-inverse block-fill-height" id="site-header">

    {% include desktop-navbar.html %}

    <div class="block-foreground">
      <div class="row my-5 mx-2 justify-content-center">
        <div class="col-md-10">
          <h1 class="block-title text-center">{{ page.one_liner }}</h1>

          <div id="teaser-carousel" class="carousel carousel-light slide py-2" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for t in site.data.data.teasers %}
                <li data-target="#teaser-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %} class="active"{% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for t in site.data.data.teasers %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <div class="teaser">
                    <h2><span>{{ t.number }}</span> {{ t.what }}</h2>
                    <h4>{{ t.caption }}</h4>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="text-center py-4" id="call-to-action">
            <a href="https://www.eventbrite.com/e/travel-tech-con-2017-tickets-30070691247" class="btn btn-primary btn-lg real-big-button" target="ttc17-tickets">{{ page.tickets_link }}</a>
            <p>{{ page.tickets_caption }}</p>
          </div>
          <div class="text-center py-4" id="call-to-action">
            <a href="https://attendify.com/app/xbwely/" class="btn btn-primary btn-lg" target="ttc17-tickets">Get Conference App</a>
            <p>Get the official conference app and get $10 Lyft discount for the ride to the venue on May 24th</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block-background" id="video-background">
      <div class="filter"></div>
      <video autoplay loop>
        <source src="videos/1-shibuya.mp4" type="video/mp4">
        <source src="videos/1-shibuya.webm" type="video/webm">
      </video>
    </div>
  </div>

  <div id="ttc-video">
    <iframe width="600" height="337" src="https://www.youtube.com/embed/7mRtuJuz960" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="block block-secondary" id="industry-quote">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="img/presenters/norm-rose.jpg">
      <p>
        “{{ page.endorsement_quote }}”
      </p>
      <cite>{{ page.endorsement_author }}</cite>
    </blockquote>
  </div>

  <div class="block block-secondary block-inverse px-5 ttc-block" id="conference-agenda">
    <div class="row py-1">
      {% for d in site.data.data.schedule %}
        <div class="col-sm-4 py-3">
          <h2 class="mt-5">
            <strong class="text-ribbon text-ribbon-{{ d.style }}">
              <span>{{ d.date }}: {{ d.event }}</span>
            </strong>
          </h2>
          <p class="mt-4">
            <span class="text-ribbon text-ribbon-{{ d.style }}">
              <span>
                <a href="{{ d.map_url }}" target="{{ d.target }}">
                  {{ d.venue }}<br>
                  {{ d.address }}
                </a>
              </span>
            </span>
          </p>
          <p class="mt-4">
            <span class="text-ribbon text-ribbon-{{ d.style }}">
              <span>
                Registration: {{ d.registration }}
              </span>
            </span>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="block block-secondary text-center px-5 ttc-block" id="patron">
    <div class="py-4">
      <h1>Conference Patron</h1>
    </div>

    <h2 class="text-center">
      <a href="http://www.jetblueventures.com/"><img src="img/companies/jetblue.jpg" alt="JetBlue Technology Ventures"></a>
    </h2>
  </div>

  <!-- Pitch Competition -->
  <div class="block block-secondary block-inverse text-center px-5 ttc-block" id="pitch-competition">
    {% include block-header.html schedule=site.data.data.schedule index=0 %}

    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <h2>20 Best Travel Startups</h2>
        <h2>Early-Stage and VC-Backed</h2>
        <p class="my-4">At Travel Tech Con Pitch competition 20 best travel startups, divided into two cohorts (early-stage and VC-backed), will pitch in front of a panel of esteemed industry experts in order to win amazing prizes from our partners, including a pitch spot at <a href="https://www.phocuswrightbattleground.com/">Phocuswright Battleground: The Americas</a> and a ticket to The Phocuswright Conference ($4,199 value).</p>
        <p class="my-4">You can submit your application to pitch below. 500 Startups partners will provide feedback to startups that will come to the training days on May 8th and May 10th.</p>
        <p class="my-4">The 20 startups that will be selected for the finals will be provided with full conference tickets, one ticket per company, plus a discount for other team members.</p>
      </div>
    </div>

    <div class="text-center" id="pitch-competition-links">
      <a href="https://www.f6s.com/traveltechcon/" class="btn btn-primary btn-lg real-big-button" target="pitch-competition">Apply to Pitch</a>
      <br>
      <a class="link" target="_blank" href="https://github.com/traveltechcon/legal/blob/master/pitch-competition-rules.md">Official Rules</a> |
      <a class="link text-muted" target="_blank" href="https://www.traveltechcon.com/news/2016/11/20/congratulations-beyondpricing-and-hello-scout">2016 Success Stories</a> |
      <a class="link text-muted" target="_blank" href="http://www.traveltechcon.com/startup-pitch-competition">2016 Pitch Competition Details</a>
    </div>

    <h2 class="text-center my-5">Schedule</h2>
    <ol class="row list-unstyled justify-content-center">
      <li class="col-12 my-2">
        <h3>Registration &mdash; 12:01 pm</h3>
        <p style="text-align: center;">Coffee, Snacks, Networking</p>
      </li>
      <li class="col-12 my-2">
        <h3>Presentations &mdash; 1:00 pm</h3>
        <p style="text-align: center;">All ticket holders are welcome!</p>
      </li>
      <li class="col-12 my-2">
        <h3>Networking &mdash; 6:00 pm</h3>
        <p style="text-align: center;">Awesome Bar Nearby</p>
      </li>
      <li class="col-12 my-2">
        <h3>Winner Announcement &mdash; May 24</h3>
        <p style="text-align: center;">May 24, 5:30 pm at Treasure Island Venue</p>
      </li>
    </ol>

    <div class="my-4">
      <h1>Judges</h1>

      <div class="container-fluid">
        <div class="row my-4 justify-content-center presenters">
          {% for judge in site.data.data.judges %}
            {% include presenter.html presenter=judge prize=1 %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="my-4" id="winners-2016">
      <h1>2016 Winners</h1>

      <div class="container-fluid">
        <div class="row my-4 justify-content-center">
          <div class="col-md-10">
            <p class="text-center">We can help you get noticed, just like we helped <a href="https://www.traveltechcon.com/news/2016/11/20/congratulations-beyondpricing-and-hello-scout" style="text-decoration: underline;" target="ttc-success">our winners from 2016</a>.</p>
          </div>

          <a href="https://beyondpricing.com/" class="col-md-4 my-4 company">
            <img src="img/companies/beyond-pricing.jpg" alt="Beyond Pricing">
          </a>
          <a href="http://helloscout.com/" class="col-md-4 my-4 company">
            <img src="img/companies/hello-scout.jpg" alt="Hello Scout">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Workshops -->
  <div class="block block-secondary block-inverse text-center px-5 ttc-block" id="workshops">
    {% include block-header.html schedule=site.data.data.schedule index=1 %}

    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <h2>10 Workshops</h2>
        <h2>Startup Track + Developer Track</h2>
        <div class="my-4">
          <p class="text-center">Workshop is a 1.5-hour long interactive session with the speaker. You have a unique opportunity to learn from the industry experts and connect with them.</p>
          <p class="text-center">Each track is limited to maximum 30 attendees.</p>
        </div>
      </div>
    </div>

    <h2 class="text-center my-5">Schedule</h2>
    <ol class="row list-unstyled justify-content-center">
      <li class="col-12 my-2">
        <h3>Registration &mdash; 8:00 am</h3>
        <p style="text-align: center;">Coffee, Snacks, Networking</p>
      </li>
      <li class="col-12 my-2">
        <h3>Presentations &mdash; 9:00 am</h3>
        <p style="text-align: center;">Full Ticket Required</p>
      </li>
      <li class="col-12 my-2">
        <h3>Lunch &mdash; 12:30 pm</h3>
        <p style="text-align: center;">Boxed Lunch Provided</p>
      </li>
      <li class="col-12 my-2">
        <h3>Networking &mdash; 6:30 pm</h3>
        <p style="text-align: center;">Awesome Bar Nearby</p>
      </li>
    </ol>

    <div class="row">
      {% for track in site.data.data.workshop_day %}
        <div class="col-md-6">
          {% include schedule.html track=track %}
        </div>
      {% endfor %}
    </div>

    <h2 class="text-center my-5">Speakers</h2>
    {% for track in site.data.data.workshop_day %}
      {% include conference-day-track.html track=track %}
    {% endfor %}

    <a href="https://www.eventbrite.com/e/travel-tech-con-2017-tickets-30070691247" class="btn btn-primary btn-lg real-big-button" target="ttc17-tickets">{{ page.tickets_link }}</a>
  </div>

  <!-- Conference Day -->
  <div class="block block-secondary block-inverse text-center px-5 ttc-block" id="conference-day">
    {% include block-header.html schedule=site.data.data.schedule index=2 %}

    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <h2>20 Top Industry Speakers</h2>
        <h2>Startup Track + Developer Track</h2>
        <h2>Exhibition Space</h2>
        <h2>Afterparty With DJ Justin Paul</h2>
        <div class="my-4">
          <p class="text-center">The main conference day is where it's at. Connect with attendees from top travel industry companies and startups, learn from business and technology experts, talk about real problems and how to solve them.</p>
        </div>
      </div>
    </div>

    <h2 class="text-center my-5">Schedule</h2>
    <ol class="row list-unstyled justify-content-center">
      <li class="col-12 my-2">
        <h3>Registration &mdash; 8:00 am</h3>
        <p style="text-align: center;">Coffee, Snacks, Networking</p>
      </li>
      <li class="col-12 my-2">
        <h3>Presentations &mdash; 9:00 am</h3>
      </li>
      <li class="col-12 my-2">
        <h3>Lunch &mdash; 12:15 pm</h3>
        <p style="text-align: center;">Boxed Lunch Provided</p>
      </li>
      <li class="col-12 my-2">
        <h3>Afterparty &mdash; 7:00 pm</h3>
        <p style="text-align: center;">Hawthorn, 46 Geary St.</p>
      </li>
    </ol>

    <div class="row">
      {% for track in site.data.data.conference_day %}{% if forloop.first %}
        <div class="col-12">
          {% include schedule.html track=track %}
        </div>
      {% endif %}{% endfor %}
    </div>
    <div class="row">
      {% for track in site.data.data.conference_day %}{% if forloop.index0 != 0 and forloop.index0 != 3 %}
        <div class="col-md-6">
          {% include schedule.html track=track %}
        </div>
      {% endif %}{% endfor %}
    </div>
    <div class="row">
      {% for track in site.data.data.conference_day %}{% if forloop.last %}
        <div class="col-12">
          {% include schedule.html track=track %}
        </div>
      {% endif %}{% endfor %}
    </div>

    <h2 class="text-center my-5">Afterparty</h2>
    <div style="text-align: center;">
      <h3 class="my-4"><img src="img/hawthorn-logo.png" alt="Hawthorn" style="width: 300px; max-width: 100%;"></h3>
      <div>46 Geary St.<br>7 pm</div>
      <div><a href="http://hawthornsf.com" style="text-align: center;">hawthornsf.com</a></div>
      <h3 class="my-4">DJ Justin Paul</h3>
      <div><a href="http://justinpaul.com" style="text-align: center;">justinpaul.com</a></div>
      <div>Open Bar for First 75 TTC Attendees</div>
    </div>

    <h2 class="text-center my-5">Speakers</h2>
    {% for track in site.data.data.conference_day %}
      {% include conference-day-track.html track=track %}
    {% endfor %}

    <a href="https://www.eventbrite.com/e/travel-tech-con-2017-tickets-30070691247" class="btn btn-primary btn-lg real-big-button" target="ttc17-tickets">{{ page.tickets_link }}</a>
  </div>

  <div class="block block-secondary text-center px-5 ttc-block" id="sponsors">
    <div class="py-4">
      <h1 class="block-title">Sponsors</h1>
    </div>

    <div class="container-fluid">
      <ul class="row list-unstyled justify-content-center my-4">
        {% for sponsor in site.data.data.sponsors %}
          <li class="col-3 text-center my-4">
            <a href="{{ sponsor.url }}" target="_blank">
              <img src="img/companies/{{ sponsor.logo }}.jpg" alt="{{ sponsor.name }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="block block-secondary text-center px-5 ttc-block" id="attendees">
    <div class="py-4">
      <h1 class="block-title">Attendees</h1>
      <h2>Come to Travel Tech Con 2017 to connect with people from these companies</h2>
    </div>

    <div class="container-fluid">
      <ul class="row list-unstyled justify-content-center my-4">
        {% for image in site.static_files %}
          {% if image.path contains 'img/attendees' or image.path contains 'img/companies' %}
            <li>
              <img src="{{ site.baseurl }}{{ image.path }}" alt="">
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="block block-inverse app-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">About</h6>
            </li>
            <li>
              <p>Travel Tech Con (legal name First Frontier, LLC) is a not-for-profit organization that aims to move the industry forward by enabling collaboration between various stakeholders in the travel industry: startups, developers, established travel companies, incubators, VCs, etc.</p>
            </li>
          </ul>
        </div>
        <div class="col-md-3 offset-md-1 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">Travel Tech Con</h6>
            </li>
            <li><a href="http://www.traveltechcon.eventbrite.com/">Meetups</a></li>
            <li><a href="http://www.traveltechcon.com/recap/">TTC'16 Recap</a></li>
            <li><a href="https://www.traveltechcon.com/startups/">Startups</a></li>
            <li><a href="https://www.traveltechcon.com/news/">News</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2">
              <h6 class="text-uppercase">TTC'17</h6>
            </li>
            <li><a href="https://www.traveltechcon.com/become-a-supporter/">Become a Sponsor</a></li>
            <li><a href="https://ttc17.typeform.com/to/u1aRbz">Propose a Talk</a></li>
            <li><a href="https://ttc17.typeform.com/to/eRl5ZI">Volunteer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="block block-secondary text-center" style="padding: 0">
    <img src="img/hoverboard.gif" alt="{{ page.hoverboard }}" title="{{ page.hoverboard }}" style="cursor: help;">
  </div>

</div>
