<div class="container py-4" id="navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <a class="navbar-brand mr-auto">
      <img src="img/ttc-logo-white-small.png" alt="Travel Tech Con 2017">
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        {% for n in page.navigation %}
          <li class="nav-item px-1">
            <a class="nav-link" href="#{{ n.slug }}">{{ n.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
