<div class="container py-4" id="navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" data-target="#stage" data-toggle="stage" data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="/">
      <img src="img/ttc-logo-white-small.png" alt="Travel Tech Con 2017">
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        {% for n in page.navigation %}
          <li class="nav-item px-1">
            <a class="nav-link" href="#{{ n.slug }}">{{ n.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
