<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header">Examples</li>
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Startup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="minimal/index.html">Minimal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="bold/index.html">Bold</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Docs</li>
    <li class="nav-item">
      <a class="nav-link" href="docs/index.html">Toolkit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://getbootstrap.com">Bootstrap</a>
    </li>
  </ul>
</div>
