<div class="col-md-6 col-lg-4 my-4">
  <img src="img/presenters/{{ include.presenter.headshot }}.jpg" alt="{{ include.presenter.name }}" title="{{ include.presenter.name }}" class="headshot">
  <h3 class="my-4">{{ include.presenter.name }}</h3>
  <h4 class="my-3">
    <a href="{{ include.presenter.company_url }}" class="my-4 company" target="_blank">
      {% if include.presenter.logo %}
        <img src="img/companies/{{ include.presenter.logo }}.jpg" alt="{{ include.presenter.company }}" title="{{ include.presenter.company }}">
      {% else %}
        {{ include.presenter.company }}
      {% endif %}
    </a>
  </h4>
  {% if include.presenter.prize %}
    <h5>{{ include.presenter.prize }}</h5>
  {% endif %}
  {% if include.presenter.talk_title %}
    <h5>{{ include.presenter.talk_title }}</h5>
  {% endif %}
</div>
