<div class="col-md-6 col-lg-4 my-4">
  <img src="img/presenters/{{ include.presenter.headshot }}.jpg" alt="{{ include.presenter.name }}" title="{{ include.presenter.name }}" class="headshot">
  <h3 class="my-4">{{ include.presenter.name }}</h3>
  <h4 class="my-4">{{ include.presenter.title }}<h4>
  <h4 class="my-3">
    <a href="{{ include.presenter.company.url }}" class="my-4 company" target="_blank">
      {% if include.presenter.company.logo %}
        <img src="img/companies/{{ include.presenter.company.logo }}.jpg" alt="{{ include.presenter.company.name }}" title="{{ include.presenter.company.name }}">
      {% else %}
        {{ include.presenter.company.name }}
      {% endif %}
    </a>
  </h4>
  {% if include.presenter.prize and include.prize == 1 %}
    <h5>{{ include.presenter.prize }}</h5>
  {% endif %}
  <div class="my-4 text-center social">
    {% if include.presenter.li %}
      <a href="https://www.linkedin.com/in/{{ include.presenter.li }}" target="_blank"><span class="icon icon-linkedin"></span></a>
    {% endif %}
    {% if include.presenter.tw %}
      <a href="https://twitter.com/{{ include.presenter.tw }}" target="_blank"><span class="icon icon-twitter"></span></a>
    {% endif %}
    {% if include.presenter.gh %}
      <a href="{{ include.presenter.gh }}" target="_blank"><span class="icon icon-github"></span></a>
    {% endif %}
    {% if include.presenter.www %}
      <a href="{{ include.presenter.www }}" target="_blank"><span class="icon icon-link"></span></a>
    {% endif %}
  </div>
</div>
