body {
  letter-spacing: normal;
}

body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.btn, p, a {
  font-weight: normal;
}

.btn-primary {
  color: #fff !important;
}

#site-header {
  .block-foreground {
    width: 100%;
  }
  .block-title {
    font-size: 2.4em;
    margin: 40px 0;

    @media (min-width: 576px) {
      margin: 20px 0;
      font-size: 3em;
    }
    @media (min-width: 768px) {
      font-size: 3.8em;
    }
    @media (min-width: 1200px) {
      font-size: 4.2em;
      margin: 60px 0;
    }
  }
  .navbar-brand {
    margin-right: 0 !important;
    text-align: center;

    @media (min-width: 768px) {
      margin-right: auto !important;
      text-align: left;
    }
  }
}

#video-background {
  background-image: url(../videos/1-shibuya.jpg);
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;

  .filter {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; height: 100%;
  }
}

#navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  font-size: 1.2em;
  letter-spacing: +0.04em;
  font-weight: bolder;
}

.carousel {
  .teaser {
    width: 100%;
    height: 260px;
    text-align: center;

    h2 {
      font-size: 3em;
      font-weight: bold;
      word-break: break-all;

      text-shadow:
        -2px -1px 0 #000,
        -4px -2px 0 #000,
        -6px -3px 0 #000,
        -8px -4px 0 #000,
        -9px -4px 0 #fff;

      span {
        display: block;
        font-size: 2em;
        color: #C0B8FF;
      }
    }

    h4 {
      font-size: 1.6em;
      margin: 20px 0;
    }

    @media (min-width: 768px) {
      height: 300px;

      h2 {
        font-size: 3.6em;
      }
      h4 {
        font-size: 2em;
      }
    }
  }
}

.real-big-button {
  font-size: 2rem;
  padding: 1.25rem 4rem;
  border-radius: .5rem;
}

#call-to-action {
  p {
    font-size: 1.2em;
  }
}

#industry-quote {
  @media (min-width: 576px) {
    .pull-quote > img {
      width: 200px;
      height: 200px;
    }
  }
}

.ttc-block {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  text-rendering: optimizeLegibility;

  p {
    font-size: 1.4em;
    text-align: justify;
  }

  a {
    color: inherit;
  }

  h1, h2, h3, h4, p, a {
    font-weight: normal;
  }
}

#conference-agenda {
  background-image: url(../img/bg/agenda.jpg);
}

$gradient: rgba(#000, 0.65);
#pitch-competition {
  background-image:
    linear-gradient($gradient, $gradient),
    url(../img/bg/pitch-competition.jpg);
  background-attachment: fixed;
}

#pitch-competition-links {
  .btn {
    margin-bottom: 20px;
  }
  .link {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.5em;
    text-decoration: underline;
  }
}

#winners-2016 {
  img {
    border-radius: 4px;
  }
}

#workshops {
  background-image:
    linear-gradient($gradient, $gradient),
    url(../img/bg/workshops.jpg);
  background-attachment: fixed;
}

conference-day {
  background-image:
    linear-gradient($gradient, $gradient),
    url(../img/bg/workshops.jpg);
  background-attachment: fixed;
}
